<VirtualHost *:{{ port }}>
	ServerAdmin {{ item.serveradmin }}
	ServerName {{ item.servername }}
	ServerAlias {{ item.serveralias }}
	DocumentRoot {{ item.documentroot }}
	ErrorLog {{ item.errorlog }}
	CustomLog {{ item.customlog }}
</VirtualHost>

